<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jovian Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner {
        height: 360 px; 
        width: 100%;
        margin-bottom: 16px ;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %} 
    <img class="img-fluid" id="banner" src="{{params['banner-img']}}"> 
    <div class="container">  
        <h1 class="text-center mt-2 mb-4" >{{params['company_name']}} Careers</h1>
        
        <div class="row" style="margin-bottom: 16px;">  
          <div class="col-md-6"> 
            <p class="lead"> 
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div> 
          <div class="d-none d-md-block col-md-6">  
            <img src="static/people-working.jpg" style="height: 320px;">
          </div> 
        </div> 
   
        <h2 class="text-center mt-2 mb-4">Open Positions</h2> 
        {% if jobs|length > 0 %} 
        <div>
          {% for job in jobs %}   
            {% include 'jobitem.html' %}
          {% endfor %} 
        </div> 
        {% else %}
        <div class="text-center mb-4">
          <b> [ NO OPEN POSITIONS ] </b> <br>  
          <img class="img-fluid rounded-4" src="{{params['no-position-banner']}}"> 
        </div>
        {% endif %} 
        <div class="text-center"> 
          <a href="mailto:hello@jovian.ai?subject=Contact&body=My%20name%20is%20%5Byour%20name%5D%2C%20and%20I%20am%20%5Bexplain%20relation%20or%20relevance%20to%20recipient%5D.%20I%20am%20writing%20to%20%5Bstate%20reason%20for%20contacting%20recipient%5D.%20%5BOffer%20some%20background%20about%20yourself%20and%20explain%20your%20intentions%5D.%20%5BProvide%20any%20additional%20important%20information%2C%20keeping%20your%20message%20brief%5D." class="btn btn-primary btn-lg">Contact Us</a> 
        </div>
      </div>
    {% include 'footer.html' %} 
  </body>
</html>