<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 4px;"> 
  <div class="col-9"> 
    <h4 
      style="color: rgb(120, 120, 120); margin-bottom: 4px; " 
      >  
      {{ job['title'] }}  
    </h4>
    <div> 
      <b>Location:</b> {{ job['location'] }} 
    </div>  
    {% if 'salary' in job %}
    <div> 
      <b>Salary:</b> {{ job['salary'] }}  
    </div>  
    {% endif %} 
  </div> 
  <div class="col-3"> 
    <a href="mailto:hello@jovian.ai?subject=Application%20for%20{{job['title']}}&body=I%20wish%20to%20apply%20for%20the%20position%20of%20%5BName%20of%20the%20Position%5D%20that%20is%20listed%20on%20your%20website.%20The%20role%20and%20the%20responsibilities%20listed%20in%20the%20job%20description%20match%20my%20interests%20and%20skills.%20I%20believe%20that%20I'm%20a%20good%20candidate%20for%20this%20position.%20I%20have%20attached%20my%20resume%20and%20cover%20letter%20for%20your%20perusal." type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>   
  </div> 
</div>